# データの準備

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
import japanize_matplotlib

In [4]:
df = pd.read_csv('california_housing_cleansing.csv')
df = df.drop(columns = ['Unnamed: 0'])
df.head()

       所得   築年数    地域人口     緯度      経度   住宅価格     部屋数/人     寝室数/人
0  8.3252  41.0   322.0  37.88 -122.23  4.526  2.732919  0.400621
1  8.3014  21.0  2401.0  37.86 -122.22  3.585  2.956685  0.460641
2  2.0804  42.0  1206.0  37.84 -122.26  2.267  2.118574  0.551410
3  2.1250  50.0   697.0  37.85 -122.26  1.400  1.606887  0.406026
4  1.9911  50.0   990.0  37.84 -122.26  1.587  2.261616  0.459596

In [5]:
# 説明変数の定義
X = df.drop(columns=['住宅価格']).to_numpy()
# 目的変数の定義
y = df['住宅価格'].to_numpy()

# 学習データとテストデータに分割
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# 回帰手法の改善

In [6]:
# StandardScalerのインポート
from sklearn.preprocessing import StandardScaler

In [7]:
scaler = StandardScaler()

In [8]:
# 標準化の変換モデルの生成
scaler.fit(X_train)

StandardScaler()

In [9]:
#  標準化の変換モデルを利用したスケールの変換
X_train_scaled = scaler.transform(X_train)

In [10]:
# 変換前
df_X_train = pd.DataFrame(X_train, columns=['所得', '築年数', '地域人口', '緯度', '経度', '部屋数', '寝室数'])
df_X_train.head()

       所得   築年数    地域人口     緯度      経度       部屋数       寝室数
0  3.7500  29.0  1390.0  34.04 -117.98  1.056115  0.223022
1  3.1187  25.0   588.0  33.01 -117.07  3.605442  0.647959
2  4.6406  45.0  1180.0  33.90 -118.07  1.505085  0.299153
3  5.9010  18.0  2882.0  34.33 -118.43  2.044067  0.319223
4  2.6167  42.0  1271.0  37.99 -122.34  1.204563  0.256491

In [11]:
# 変換後
df_X_train_scaled = pd.DataFrame(X_train_scaled, columns=['所得', '築年数', '地域人口', '緯度', '経度', '部屋数', '寝室数'])
df_X_train_scaled.head()

         所得       築年数      地域人口        緯度        経度       部屋数       寝室数
0  0.034653  0.178247 -0.075532 -0.723337  0.760166 -0.837592 -0.809192
1 -0.368102 -0.170455 -0.767887 -1.203976  1.220266  1.614325  1.182965
2  0.602835  1.573057 -0.256822 -0.788667  0.714662 -0.405778 -0.452281
3  1.406941 -0.780684  1.212489 -0.588012  0.532645  0.112610 -0.358190
4 -0.688367  1.311530 -0.178263  1.119887 -1.444266 -0.694816 -0.652284

In [12]:
# チェック
df_X_train_scaled.describe()

,所得,築年数,地域人口,緯度,経度,部屋数,寝室数
count,1.300000e+04,1.300000e+04,1.300000e+04,1.300000e+04,1.300000e+04,1.300000e+04,1.300000e+04
mean,4.533263e-15,7.651999e-17,8.280556e-17,-3.489093e-14,-8.354643e-14,1.134163e-14,-1.848504e-15
std,1.000038e+00,1.000038e+00,1.000038e+00,1.000038e+00,1.000038e+00,1.000038e+00,1.000038e+00
min,-2.038837e+00,-2.262670e+00,-1.268592e+00,-1.418630e+00,-2.420081e+00,-1.850904e+00,-1.851601e+00
25%,-7.374752e-01,-8.678601e-01,-5.701945e-01,-7.793341e-01,-1.034727e+00,-4.232155e-01,-3.998158e-01
50%,-1.394514e-01,3.896079e-03,-2.291970e-01,-6.300096e-01,5.225325e-01,-2.454245e-02,-1.384252e-01
75%,5.805695e-01,7.884766e-01,2.622279e-01,9.752284e-01,7.652223e-01,2.989548e-01,1.855580e-01
max,7.211958e+00,2.096111e+00,2.952823e+01,2.935112e+00,2.615732e+00,3.790064e+01,3.916628e+01

In [13]:
X_test_scaled  = scaler.transform(X_test)