In [10]:
import pandas as pd
import seaborn as sns

In [11]:
import japanize_matplotlib

In [12]:
df = pd.read_csv('california_housing_cleansing.csv')
df.head()

   Unnamed: 0      所得   築年数    地域人口     緯度      経度   住宅価格     部屋数/人     寝室数/人
0           0  8.3252  41.0   322.0  37.88 -122.23  4.526  2.732919  0.400621
1           1  8.3014  21.0  2401.0  37.86 -122.22  3.585  2.956685  0.460641
2           8  2.0804  42.0  1206.0  37.84 -122.26  2.267  2.118574  0.551410
3          15  2.1250  50.0   697.0  37.85 -122.26  1.400  1.606887  0.406026
4          18  1.9911  50.0   990.0  37.84 -122.26  1.587  2.261616  0.459596

In [13]:
df = df.drop(columns = ['Unnamed: 0'])
df.head()

       所得   築年数    地域人口     緯度      経度   住宅価格     部屋数/人     寝室数/人
0  8.3252  41.0   322.0  37.88 -122.23  4.526  2.732919  0.400621
1  8.3014  21.0  2401.0  37.86 -122.22  3.585  2.956685  0.460641
2  2.0804  42.0  1206.0  37.84 -122.26  2.267  2.118574  0.551410
3  2.1250  50.0   697.0  37.85 -122.26  1.400  1.606887  0.406026
4  1.9911  50.0   990.0  37.84 -122.26  1.587  2.261616  0.459596

In [14]:
df.shape

(18572, 8)