# pandasの練習

In [1]:
import pandas as pd

# csvファイルを読み込む
df = pd.read_csv('train.csv')
#　先頭から5行目までのデータを表示する
df.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [2]:
df.loc[[2]]

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0

In [3]:
# 以下のように書くとデータフレームではなくシリーズとして取り出されます。
df.loc[2]

POSTED_BY                           Owner
UNDER_CONSTRUCTION                      0
RERA                                    0
BHK_NO.                                 2
BHK_OR_RK                             BHK
SQUARE_FT                      933.159722
READY_TO_MOVE                           1
RESALE                                  1
ADDRESS                  Jigani,Bangalore
LONGITUDE                       12.778033
LATITUDE                        77.632191
TARGET(PRICE_IN_LACS)                43.0
Name: 2, dtype: object

In [4]:
df.query('POSTED_BY == "Owner"')

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
5,Owner,0,0,3,BHK,1250.000000,1,1,"South Chittoor,Kochi",10.033280,76.282571,42.0
7,Owner,0,1,3,BHK,1181.012946,1,1,"Kharar,Mohali",30.740000,76.650000,52.0
...,...,...,...,...,...,...,...,...,...,...,...,...
29441,Owner,0,0,3,BHK,1500.375094,1,1,"Sector 57 Faridabad,Faridabad",28.320000,77.289381,40.0
29445,Owner,0,0,2,BHK,1062.134891,1,1,"Tilakwadi,Belgaum",15.866670,74.500000,40.0
29446,Owner,0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
29447,Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
29449,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0

In [5]:
df.loc[[df['TARGET(PRICE_IN_LACS)'].idxmax()]]

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
11238,Dealer,0,0,3,BHK,187500000.0,1,1,"R.T. Nagar,Bangalore",13.0189,77.5963,30000.0

In [6]:
df['TARGET(PRICE_IN_LACS)'].idxmax()

11238

In [7]:
# 物件価格の最大を求める
df['TARGET(PRICE_IN_LACS)'].max()

30000.0

In [8]:
#　物件価格の最小を求める
df['TARGET(PRICE_IN_LACS)'].min()

0.25

In [9]:
# 物件価格の平均を求める
df['TARGET(PRICE_IN_LACS)'].mean()

142.8987457132186

In [10]:
df['TARGET(PRICE_IN_LACS)'].describe()

count    29451.000000
mean       142.898746
std        656.880713
min          0.250000
25%         38.000000
50%         62.000000
75%        100.000000
max      30000.000000
Name: TARGET(PRICE_IN_LACS), dtype: float64

## まとめ

本章では以下の内容を学習しました。

- pandasにはどのような機能があるかを理解する
- pandasを使って簡単な分析ができる

まだまだpandasには多くの機能があります。今回、用意したデータ以外にもさまざまな機能を試して仕事で使いこなせるようになりましょう